$red: #E94A4A;
$red-dark: #ad2626;
$violet-sunshine: rgb(47, 39, 155);
$violet: #9B2FAE;
$violet-light: #bf93c6;
$black-l: #262626;
$black-light: #3A3A3A;
$blue: #1EAFC3;
$blue-dark: #127482; 
$blue-light: #518BF5;
$blue-sunshine: rgb(20, 120, 219);
$green: #67C459;
$green-dark: #418e45;
$orange: #F98E25;
$orange-dark: #F98E25;
$orange-light: #F59D23;
$white: #FFF;
$white-grey: #F7F7F7;
$black: #000;
$grey-dark: #8B8C92;
$grey: grey;

$font: #333;
$border: #ccc;
$searchBtn: #3A3A3A;
$becomeHost: rgba(8, 14, 15, 0.6);


$bp-largest: 75em;
$bp-large: 68.75em;
$bp-medium: 56.5em;
$bp-small: 52em;
$bp-smallest: 31.25em;