@import "../../common/styles/variables";
@import "../../common/styles/mixins";

.SearchHeader {
    height: 30rem;
    background-color: $red;
    color: $white;

    @include flex(center, center);
    position: relative;

    &__Title {
        font-size: 3rem;
        text-align: center;
    }

    &__Subtitle {
        font-size: 2rem;
        text-align: center;
        margin:  3rem 0;
    }

    &__ResultExample {
        font-size: 1.5rem
    }
}

.SearchForm {
    @include flex(flex-start,  center);
    margin: 1rem 0;
    box-shadow: 0 4px 8px 0 rgba($black, 0.2), 0 6px 20px 0 rgba($black, 0.19);
    position: relative;
    z-index: 2;

    &__Icon {
        margin-left: 1rem;
        position: absolute;
        color: $red;
        left: 0;
    }

    &__Input {
        height: 4rem;
        border-radius: 3px 0 0 3px;
        width: 90%;
        padding-left: 4rem;
    }
    &__Button {
        height: 4rem;
        border-radius: 0 3px 3px 0;
        padding: 0 1rem 0 1rem;
        background: $searchBtn;
        color: $white;
        cursor: pointer;
        font-size: 1.4rem;
    }
}

.BecomeHost {
    @include flex(flex-start, center);
    background-color: $becomeHost;
    position: absolute;
    top: 15%;
    right: 0;
    padding: 1rem 1rem;
    border-radius: 3px 0 0 3px;

    span {
        color: $white;
        font-size: 15px;
        margin: 0 1rem 0 1rem;
    }

    &__Image {
        height: 2rem;
    }

    &__Icon {
        font-size: 2rem;
    }
}